<style>
    #scroll {
        display: none;
    }
</style>
<div id="about">
    <h3>MORE INFORMATION</h3>
    <p>TO ACCESS WAVE DYNAMICS PRODUCTS YOU MUST HAVE A TRADING VIEW ACCOUNT. WAVE DYNAMICS IS CURRENTLY PRESENTING THE
        FOLLOWING PRODUCTS:</p>
    <p>QUANTUM TRADING SYSTEM 24</p>

    <a class="downloadBtn" href="https://rebrand.ly/QTS24-A" target="_blank">QTS24 MODULE A</a> <br>
    <a class="downloadBtn" href="https://rebrand.ly/QTS24-B" target="_blank">QTS24 MODULE B</a> <br>
    <a class="downloadBtn" href="https://rebrand.ly/QTS24-C" target="_blank">QTS24 MODULE C</a> <br>

    <p>RIPPLE TRADING SYSTEM 24</p>
    <a class="downloadBtn" href="https://rebrand.ly/RTS24" target="_blank">RTS24</a> <br>

    <p>PLEASE VISIT OUR DOWNLOADS SECTION FOR BORCHURES TO BOTH SYSTEMS</p>

    <!-- <iframe src="https://www.youtube.com/embed/ipAZ0BFQhSs?si=KZryXGkgitA9N949" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
</div>