<style>
    #scroll {
        display: none;
    }
</style>
<div id="about">
    <h3>MORE INFORMATION</h3>
    <p>IF YOU PREFER TO INSTALL QUANTUM TRADING SYSTEM 24 FOR TESTING BY HAND, PLEASE REFER TO THE VIDEO TUTORIAL BELOW:
    </p>
    <iframe src="https://www.youtube.com/embed/ipAZ0BFQhSs?si=KZryXGkgitA9N949" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div class="line" id="line8"></div>