<style>
    #scroll {
        display: none;
    }
</style>
<form id="form" class="flex" action="https://formspree.io/f/xoqrjvve" method="post">
    <h3>CONTACT</h3>
    <ul>
        <li>
            <input type="text" id="name" name="user_name" placeholder="Full name:" required maxlength="50">
            <div>
                <hr>
            </div>
        </li>
        <li>
            <input type="email" id="mail" name="user_email" placeholder="E-mail address:" required maxlength="50">
            <small id="error"></small>
            <div>
                <hr>
            </div>
        </li>
        <li>
            <textarea id="msg" name="user_message" placeholder="Enter text here" required maxlength="1000"></textarea>
        </li>
    </ul>
    <button id="getintouch" type="submit" name="submit" value="Get in touch">SEND MESSAGE</button>
</form>