<section class="hidden">
    <div class="titles flex">
        <h1>QUANTUM TRADING SYSTEM 24</h1>
        <p>POWERED BY WAVE DYNAMICS LABORATORIES</p>
    </div>
</section>
<div class="flex" id="line-container">
    <section class="hidden">
        <div class="line" id="line1"></div>
        <div class="charts">
            <img class="chart" src="img/crash.png" alt="TradingView Chart">
            <img class="chart" src="img/1chrt.png" alt="TradingView Chart">
            <img class="chart" src="img/1bt.png" alt="TradingView Backtest">
        </div>
        <div class="line" id="line2"></div>
        <div class="line" id="line3"></div>
    </section>
    <section class="hidden">
        <div class="line" id="line4"></div>
        <div class="charts">
            <img class="chart" src="img/2chrt.png" alt="TradingView Chart">
            <img class="chart" src="img/2bt.png" alt="TradingView Backtest">
        </div>
        <div class="line" id="line5"></div>
    </section>
    <section class="hidden">
        <div class="line" id="line6"></div>
        <div class="charts">
            <img class="chart" src="img/3chrt.png" alt="TradingView Chart">
            <img class="chart" src="img/3bt.png" alt="TradingView Backtest">
        </div>
        <div class="line" id="line7"></div>
    </section>
</div>

<script>
    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                entry.target.classList.add('showHome');
            } else {
                entry.target.classList.remove('showHome');
            }
            console.log(entry.target, entry.isIntersecting)
        });
    });
    const hiddenElements = document.querySelectorAll('.hidden');
    hiddenElements.forEach((el) => {
        observer.observe(el);
    });
</script>